.customTableContainer {
  max-height: 460px;
  overflow-y: auto;
  border: 1px solid #ddd;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scroll-behavior: smooth;
}


.customTableContainer::-webkit-scrollbar {
  display: none;
}

.customFixedTable {
  width: 100%;
  table-layout: fixed;
}

.customTableHead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
